# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Debug/*
.vs/*
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
x64/*
IBM_Logo.ch8
IBM_LogoBackup.ch8
bc_test.ch8
chip-8-emu.sln
test_opcode.ch8